body{
    margin: 0 auto;
}
td{
    width: 20px;
    height: 20px;
    border: 1px solid blue;
    text-align: center;
}
table{
    border-collapse: collapse;
}
input{
    margin: 5px;
}
td[data-state = 'openBomb']{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("pictures/bomb.jpg");
}
td[data-state = 'close'],
td[data-state = 'bomb']{
    background: linear-gradient(AliceBlue, cadetblue );
}
td[data-state = 'empty']{
    background: linear-gradient(Snow, Silver );
}
td[data-step = 'closeFlag'],
td[data-step = 'bombFlag']{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("pictures/flag.jpg");
}
